body {
    background-image: url(http://www.walldevil.com/wallpapers/a94/stars-space-shooting-planets-large-small-wallpaper.jpg);
    background-color: black;
    color: white;
    text-align: center;
    font-family: fantasy;
    padding-top: 250px;
    animation-duration: 2s;
    animation-name: fadein;
}

h1 {
    font-size: 72px;
}

@keyframes fadein {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

a {
    color: #fff;
}