body {
    background-image: url(http://www.kanhangadvartha.com/data/out/9/IMG_448467.jpg);
    color: white;
}

.center {
    width: 50%;
    height: 50%;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: fantasy;
    font-size: 72px;
    color: white;
}

a {
    color: #fff;
}

p {
    text-align: center;
    font-family: fantasy;
}